<%# app/views/users/new.html.erb %>

<div class="container py-4">
  <div class="card shadow-sm">
    <div class="card-header">
      <h1 class="h3 card-title mb-0">新規社員登録</h1>
    </div>
    <div class="card-body">
      <%= render 'form', user: @user %>
    </div>
    <div class="card-footer text-center">
      <%= link_to "社員一覧に戻る", users_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>